@import 'flowbite';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Autres styles */

h1{
    font-size: 20px;
}
hr{
    border: solid 1px black;
}
label{
    /* margin: 5px 0; */
    font-weight: bolder;
}
input{
    border: 1px solid rgb(88, 90, 99);
    border-radius: 20px;
    outline: none;
    width: 100%;
    
}

p,label,input,li,span{
    color: rgb(24, 23, 23);
}
body{
    background: #f5f5f5;
}